{% extends 'base.html.twig' %}
{% block title %}Order check{% endblock %}


{% block body %}
    <h1>hallo</h1>


    <table>
        <thread>
            <tr>
                <th>ID</th>
                <th>Placed_at</th>
                <th>Tuition</th>
            </tr>
        </thread>
    </table>
    <tbody>

    </tbody>
